---
import { getCollection } from "astro:content";
// Get all entries from a collection. Requires the name of the collection as an argument.
const blogEntries = await getCollection("terraform");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>

  <h2>About me</h2>
  <ul>
    <li>
      <a target="_blank" href="https://twitter.com/aquabianca_">Twitter</a>
    </li>
    <li>
      <a
        target="_blank"
        href="https://lounge.nintendo.com/friendcode/2524-7377-0413/CznpXq0YL6"
      >
        Nintendo Switch Online
      </a>
    </li>
  </ul>

  <h2>Blog</h2>
  <ul>
    {
      blogEntries.map((blogPostEntry) => (
        <li>
          <a href={`/${blogPostEntry.collection}/${blogPostEntry.slug}`}>
            {blogPostEntry.data.title}
          </a>
          <time datetime={blogPostEntry.data.publishedDate.toISOString()}>
            {blogPostEntry.data.publishedDate.toDateString()}
          </time>
        </li>
      ))
    }
  </ul>


</html>
